body
{
    font-family: 'Cabin', sans-serif;
    background-color:#001227;
}
#introWrapper
{
}
#backgroundImg
{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    -webkit-filter:brightness(40%);
    filter:brightness(40%);
    -moz-filter:brightness(40%);
    z-index:-1;
}
h1
{
    text-align:center;
    margin-top:100px;
    font-size:70px;
    color:white;
}
h3
{
    font-size:30px;
    color:white;
    bottom:10px;
    position:absolute;
    left:50px;
    right:auto;
}
.myButton {
	background-color:#53A496;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	cursor:pointer;
	color:white;
    font-family: 'Cabin', sans-serif;
	font-size:50px;
	font-weight:bold;
	padding:13px 32px;
    border-color:black;
}
.myButton:hover {
	background-color:#5694A3;
}
.myButton:active {
	position:relative;
	top:1px;
}

