#pageWrapper
{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    background-color:#F2F2F2;
    margin-bottom: 20px;
    padding:20px;

}
body
{
    background-color:#5694A3;
    color:tan;
}
img
{
    margin: 0 auto;
    width:860px;
}
#carousel
{
    border:solid;
    height:300px;
}
h1
{
    text-align:center;
}
h3
{
    text-align:center;
}
#topNav
{
    width:900px;
    margin: 0 auto;
    margin-top:20px;
    background-color:#F2F2F2;
}
