body {
    background-color: #C7C8CA;
}

#pageWrapper
{
    width: 900px;
    margin: 0 auto;
    margin-top: 70px;
    background-color:#7C95B4;
    margin-bottom: 20px;
}
img.display
{
    border:solid;
    margin:10px;
    margin: 0 auto;
    width: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1 {
    color: #2D2D2D;
    font-size: 35px;
    font-family: inherit;
}
h5
{
    text-align:center;
    padding:20px;
}
div.font1 {
    font-family:inherit;
    font-size:22px;
}
div.page-header {
    font-family: inherit;
    font-size: 30px;
}